html,body{
    margin:0px;
    padding:0px;
}

.main-content{
    padding:10px;
    min-height: 400px;
}

.banner {
    background: #1E2D51;
    font-size: 12px;
    min-height: 80px;
    position: relative;
    z-index: 1000;
}

.banner .banner-ul{
    padding: 0px;
    margin:0px;
    list-style-type: none;
}

.banner .logo,
.banner .perfil{
    margin: 16px 19px;
}

.banner .perfil{
    margin: 16px 28px;
}


.banner-perfil{
    height: 48px;
}


.banner .logo{
    background:url('../img/logo_header.png') no-repeat center;
    height: 48px;
    width: 247px;
}

.banner .data-usuario{
    border:0px solid red;
    float:left;
    text-align: right;
    margin-right:5px;
    margin-top:10px;
}

.banner .data-usuario .usuario-nombre{
    color:#ffffff;
    border:0px solid yellow;
    font-size:16px;
    line-height: 16px;
}

.banner .data-usuario .usuario-grupo{
    color:#aaaaaa;
    font-size:10px;
    line-height: 10px;
}


.main-menu .brand{
    display: none;
}

.main-menu .input-append{
    margin-bottom:0px;
}

.navbar .navbar-inner{
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

footer {
    background-color: #264269;
    /*background-image: url("../img/bg_footer.png");*/
    background-repeat: repeat-x;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar{
    margin: 0px;
}

.main-title{
    border-bottom:1px solid #DCDCDC;
    height:30px;
    padding:0px 25px 0px 25px;
}

.main-title .title{
    font-size:14px;
    margin-top:4px;
    font-weight: bold;
}

@media all and (max-width: 1000px) {
    .banner .logo{
        background:url('../img/logo_header.png') no-repeat left;
        width: 60px;
    }

    .main-menu .brand{
        display: block;
    }

    #trailbox{
        display:none;
    }

    .main-title{
        margin-top:5px;
    }
}

#trailbox {
    background-color: #F2F2F2;
    border-bottom: 1px solid #DCDCDC;
    border-top: 1px solid white;
    clear: both;
    color: #444444;
    height: 26px;
    left: 0;
    margin-bottom: 10px;
    padding: 0 1%;
    position: relative;
    right: 0;
}
#trailbox ul, #breadcrumbtrail li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size:12px;
}
#breadcrumbtrail {
    float: left;
    height: 26px;
    overflow: hidden;
}
#breadcrumbtrail li {
    color: #777777;
    float: left;
    line-height: 26px;
    padding-left: 10px;
}
#breadcrumbtrail li a {
    background: url("../img/bg_breadcrumb.png") no-repeat scroll right center transparent;
    color: #444444;
    display: block;
    padding: 0 15px 0 0;
    text-decoration: none;
}
#breadcrumbtrail li a:hover {
    color: #4271B5;
}
#breadcrumbtrail li a:active {
    color: #C3CBDE;
    outline: medium none;
}

.dropdown-menu-user{
    border-top-right-radius: 0px;
    border:none;
}

.configuration_form {
    border: 1px solid #EBEBEB;
    clear: both;
    margin: 20px 2px 2px;
    padding: 10px;
}

.configuration_form .control-group .control-label{
    font-weight: bold;
}

.configuration_form .category {
    background-color: #FFFFFF;
    color: #4271B5;
    font-weight: bold;
    padding: 0 5px;
    position: relative;
    top: -20px;
}


